body{
  font-family: Verdana;
  margin:0;
}

.bannerIMG{
  padding:80px;
  text-align:center;
  background-image:linear-gradient(rgba(0,0,0,0.3),
    rgba(0,0,0,0.3)),
    url("/images/acquerello.jpg");
  font-size:65px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bannerTXT{
  font-family:brush script m7;
  font-style:italic;
  font-size:20px;
  color:FloralWhite;
  width: 100%;
  padding: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a, .dropbtn, .dropbtn1 {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: lightgreen;
}

li a:hover, .dropdown1:hover .dropbtn1 {
    background-color: lightgreen;
}

li.dropdown {
    display: inline-block;
}

li.dropdown1 {
    display: inline-block;
}

.dropdown-content, .dropdown-content1 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
     z-index:10;
}

.dropdown-content a, .dropdown-content1 a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}


.dropdown-content1 a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown1:hover .dropdown-content1 {
    display: block;
}


.parallax {
  background-image: url("/images/primavera.jpg");

  min-height: 400px; 

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card{
	text-align:center;
}


.card img {
  margin-top: 8px;
  vertical-align: middle;
  max-width: 60%;
  object-fit:cover;
  padding-bottom:25px;
}

.overlay{
  bottom:0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.8); /* Black see-through */
  color: #f1f1f1;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}


.container{
	text-align:center;
	font-size:25px;
	color:Gainsboro;
	    background-color:DarkBlue;
}

a{
	color:Gold;
	font-style:normal;
}

.desc{
	padding:30px;
	text-align:left;
}