<meta name="robots" content="noindex">
<html xmlns:th="http://www.thymeleaf.org">
<head  th:replace="fragments/baseHome.html :: headerfiles(title=#{pageTitle.artistaLista})"> </head>
<body>
<header th:replace="fragments/baseHome.html :: intestazione"></header>
  	
  	<div class="parallax">	
	<div>
    	<h4>Lista degli artisti</h4>
		<ul>
			<li th:each="artista : ${artisti}">
				<a href="artista.html" 
				   th:href="@{'/artista' + '/' + ${artista.id}}" 
				   th:text="|${artista.nome} ${artista.cognome} ${artista.nazionalita}|">Paolo Rossi</a>
			</li>
		</ul>
	</div>
	<div class="parallax">	
</body>
</html>
