<meta name="robots" content="noindex">
<html xmlns:th="http://www.thymeleaf.org">
<head  th:replace="fragments/baseLista.html :: headerfiles(title=#{pageTitle.artistaLista})"> </head>
<body>
<header th:replace="fragments/baseLista.html :: intestazione"></header>
  	
  	<div class="parallax">	
    	<div class="Titolo">Lista degli artisti</div>
    	
    	<div class="lista">
  		<ul>
  			<li class="dropdown1">
     			<a href="" class="dropbtn1">Ordine</a>
     				<div class="dropdown-content1">    
      					<a href="/ordineAlfabeticoArtista">Alfabetico</a>
      				</div>
      			</li>
      		</ul>
		</div>
    	
    	<div class="ImgR">
    	<table class="lista">
			<tr th:each="artista : ${artisti}">
				   <td> <a th:href="@{'/artista' + '/' + ${artista.id}}" th:text="|${artista.nome} ${artista.cognome}|"/></a>
				   </td>
				   <td></td>
				   <td></td>
				    <td> <div class="ImgC"><img th:src="@{${artista.photosImagePath}}" onerror="this.style.display='none'"></div>
				   </td>
				   </tr>
		</table>
		</div>
	</div>

	<div class="parallax">	</div>
</body>
</html>
