<meta name="robots" content="noindex">
<html xmlns:th="http://www.thymeleaf.org">
<head  th:replace="fragments/baseLista.html :: headerfiles(title=#{pageTitle.artistaLista})"> </head>
<body>
<header th:replace="fragments/baseLista.html :: intestazione"></header>
  	
  	<div class="parallax">	
    	<div class="Titolo">Lista degli artisti</div>
    	<div class="ImgR">
    	<table class="lista">
			<tr th:each="artista : ${artisti}">
				   <td> <a th:href="@{'/artista' + '/' + ${artista.id}}" th:text="|${artista.nome} ${artista.cognome}|"/></a>
				   </td>
				    <td> <div class="ImgC"><img th:src="@{${artista.photosImagePath}}"></div>
				   </td>
				   </tr>
		</table>
		</div>
	</div>

	<div class="parallax">	</div>
</body>
</html>
