<meta name="robots" content="noindex">
<html xmlns:th="http://www.thymeleaf.org">
<head  th:replace="fragments/baseArtista.html :: headerfiles(title=#{pageTitle.artista})"> </head>
<body>
  <div class="bannerIMG">
    <div class="bannerTXT">
    <h1 th:text="${artista.nome + ' ' + artista.cognome}"></h1>  
    </div>
  </div>
  <header th:replace="fragments/baseArtista.html :: intestazione"></header>
  
  <div class="parallax">
  <div class="InformazioniR">
    <div class="InformazioniC1">
	  <img th:src="@{${artista.photosImagePath}}" onerror="this.style.display='none'">
  </div>
  
  <div class="InformazioniC2">
	<div class="InfoContainer" th:if="${artista}" th:object="${artista}">
		<div>Nome: <class= "Testo" th:text="*{nome}"></div>
		<br>
		<div>Cognome: <class="Testo" th:text="*{cognome}"></div>
		<br>
		<div>Data di nascita: <class="Testo" th:text="*{dataNascita}"></div>
		<br>
		<div>Luogo di nascita: <class="Testo" th:text="*{luogoNascita}"></div>
		<br>
		<div>Data di morte: <class="Testo" th:text="*{dataMorte}"></div>
		<br>
		<div>Luogo di morte: <class="Testo" th:text="*{luogoMorte}"></div>
		<br>
		<div>Nazionalità: <class="Testo" th:text="*{nazionalita}"></div>
		<br>
	 </div>
	 <div th:unless="${artista}">Non esiste</div>
  </div>
</div>
	
	<div class="Biografia">
		<h2>Biografia</h2>
    
		<div class="BioInfo" th:text="${artista.biografia}"></div>
	</div>
	
	<div class="ImgR">
		<ul>
			<li th:each="opera : ${artista.opere}">
				<div class="ImgC"> <img th:src="@{${opera.photosImagePath}}" onerror="this.style.display='none'"> 
				<a href="opera.html" 
				   th:href="@{'/opera' + '/' + ${opera.id}}" 
				   th:text="|${opera.titolo} ${opera.anno}|">Paolo Rossi</a>
			</div>
			</li>
		</ul>
	</div>

</div>
  <div class="parallax"></div>

</body>
</html>