<html xmlns:th="http://www.thymeleaf.org">
<head  th:replace="fragments/baseCollection.html :: headerfiles(title=#{pageTitle.collezione})"> </head>
<body>
  <div class="bannerIMG">
    <div class="bannerTXT">
    <h1  th:text="|${collezione?.nome}|">Robe</h1>
	<p th:text="|Curatore:${collezione?.curatore?.nome} ${collezione?.curatore?.cognome}|"></p>
    </div>
  </div>
    <header th:replace="fragments/baseCollection.html :: intestazione"></header>
  <div class="parallax">
  
<div class="Titolo">Lista delle Opere</div>
    	<div class="ImgR">
    	<table class="lista">
			<tr th:each="opera : ${opere}">
				   <td> <a th:href="@{'/opera' + '/' + ${opera.id}}" th:text="|${opera.titolo} ${opera?.autore?.nome} ${opera?.autore?.cognome}|"/></a>
				   </td>
				    <td> <div class="ImgC"><img th:src="@{${opera.photosImagePath}}"></div>
				   </td>
				   </tr>
		</table>
		</div>
	</div>
	<div class="parallax">	</div>
</body>
</html>