<html xmlns:th="http://www.thymeleaf.org">
<head  th:replace="fragments/baseCollection.html :: headerfiles(title=#{pageTitle.collezione})"> </head>
<body>
  <div class="bannerIMG">
    <div class="bannerTXT">
    <h1  th:text="|${collezione?.nome}|">Robe</h1>
	<p th:text="|Curatore:${collezione?.curatore?.nome} ${collezione?.curatore?.cognome}|"></p>
    </div>
  </div>
    <header th:replace="fragments/baseCollection.html :: intestazione"></header>
  <div class="parallax">
  
  <div class="ImgR">
		<div class="ImgC"><h4>Lista delle opere</h4>
		<ul>
			<li th:each="opera : ${opere}">
				<div class="Img1"> <img th:src="@{${opera.photosImagePath}}"> 
				<a href="opera.html" 
				   th:href="@{'/opera' + '/' + ${opera?.id}}" 
				   th:text="|${opera?.titolo} ${opera?.anno} ${opera?.descrizione}|">Paolo Rossi</a>
			</div>
			</li>
		</ul>
</div>
  </div>
  </div>
	<div class="parallax">	</div>
</body>
</html>