<meta name="robots" content="noindex">
<html xmlns:th="http://www.thymeleaf.org">
<head  th:replace="fragments/baseModifica.html :: headerfiles(title=#{pageTitle.artistaInserisci})"> </head>
<body>
  
  <header th:replace="fragments/baseModifica.html :: intestazione"></header>
  <div class="parallax">
  <div>	
		<div class="Titolo">Seleziona l'artista che vuoi modificare e i nuovi dati</div>
	</div>
	<form th:action="@{/modificaArtista}" method="POST" th:object="${artista}" enctype="multipart/form-data">
			<div class="form">
				<span>Artista da modificare:</span>
				<select  name="artistaSelezionato" id="autoUpdate" class="autoUpdate">
    			<option value="0">Seleziona l'artista</option>
    			<option th:each="artista : ${artisti}"
    					th:value="${artista.id}" 
    					th:text="${artista.nome}">
    			</option>
				</select>
			</div>
			<div class="form">
				<span>Nome nuovo:</span>
				<span><input type="text" th:field="*{nome}"/></span>
			</div>
			<div class="form">
				<span>Cognome nuovo:</span>
				<span><input type="text" th:field="*{cognome}"/></span>
			</div>		
			<div class="form">
				<span>Data di nascita nuova:</span>
				<span><input type="text" th:field="*{dataNascita}"/></span>
			</div>
			<div class="form">
				<span>Luogo di nascita nuova:</span>
				<span><input type="text" th:field="*{luogoNascita}"/></span>
			</div>
			<div class="form">
				<span>Data di morte nuova:</span>
				<span><input type="text" th:field="*{dataMorte}"/></span>
			</div>
			<div class="form">
				<span>Luogo di morte nuovo:</span>
				<span><input type="text" th:field="*{luogoMorte}"/></span>
			</div>
			<div class="form">
				<span>Nazionalitànuova:</span>
				<span><input type="text" th:field="*{nazionalita}"/></span>
			</div>
			<div class="form">
			<span>Immagine nuova:</span>
			<span><input type="file" name="img" accept="image/png, image/jpeg" /></span>
			</div>
			<div class="form">
			<span><button type="submit">Invio</button></span>
</div>
</form>
<div class="parallax"></div>
</body>
</html>