<meta name="robots" content="noindex">
<html xmlns:th="http://www.thymeleaf.org">
<head  th:replace="fragments/baseModifica.html :: headerfiles(title=#{pageTitle.collezioneInserisci})"> </head>
<body>
  
  <header th:replace="fragments/baseModifica.html :: intestazione"></header>
  <div class="parallax">
  <div>	
		<div class="Titolo">Seleziona la collezione che vuoi modificare e i nuovi dati</div>
	</div>
	<form th:action="@{/modificaCollezione}" method="POST" th:object="${collezione}">
			<div class="form">
				<span>Collezione da modificare:</span>
				<select  name="collezioneSelezionata" id="autoUpdate" class="autoUpdate">
    			<option value="0">Seleziona la collezione</option>
    			<option th:each="collezione : ${collezioni}"
    					th:value="${collezione.id}" 
    					th:text="${collezione.nome}">
    			</option>
				</select>
			</div>
			<div class="form">
				<span>Nome nuovo:</span>
				<span><input type="text" th:field="*{nome}"/></span>
			</div>		
			<div class="form">
				<span>Descrizione nuova:</span>
				<span><input type="text" th:field="*{descrizione}"/></span>
			</div>
			<div class="form">
				<span>Curatore nuovo:</span>
				<select  name="curatoreSelezionato" id="autoUpdate" class="autoUpdate">
    			<option value="0">Seleziona un curatore</option>
    			<option th:each="curatore : ${curatori}"
    					th:value="${curatore.matricola}" 
    					th:text="|${curatore.nome} ${curatore.cognome}|">
    			</option>
				</select>
				</div>
				<div class="form">
				<span><button type="submit">Invio</button></span>
				</div>
</form>
<div class="parallax"></div>
</body>
</html>