<meta name="robots" content="noindex">
<html xmlns:th="http://www.thymeleaf.org">
<head  th:replace="fragments/baseHome.html :: headerfiles(title=#{pageTitle.info})"> </head>
<link href="../css/cssInfo.css" rel="stylesheet" />
<body>
  <header th:replace="fragments/baseHome.html :: intestazione"></header>
  <div class="parallax">
  		<div class="InformazioniC2">
  		<br>
  		<br>
			<div class="titolo"> Chi siamo</div>
       <div class="InfoContainer">
       <br>
		<div class="Testo">Nato nel 1987, il nostro museo opsita opere prestigiose da tutto il mondo</div>
		</div>
		<br>
		<div class="titolo">Contatti</div>
		<div class="InfoContainer">
		<div class="Testo">Email: museo@gmail.com</div>
		<br>
	   <div class="Testo">Telefono: +39 065748239 </div>
	 </div>
	 <br>
		<div class="titolo">Dove Siamo</div>
	    <div class="InfoContainer">
		<div class="Testo">Indirizzo: Via Roma 69</div>
		<br>
	   <div class="Testo">Come Raggiungerci:
	   <br>
	   <ul>
	   <li>Autobus: Linea 170 fermata ROMA</li>
	      <li>Metro: Linea A fermata ROMA</li>
	   </ul>
	 </div>
		</div>
		</div>
		</div>
		<div class="parallax"></div>
</body>
</html>