<meta name="robots" content="noindex">
<html xmlns:th="http://www.thymeleaf.org">
<head  th:replace="fragments/baseOpera.html :: headerfiles(title=#{pageTitle.opereLista})"> </head>
<body>
<header th:replace="fragments/baseOpera.html :: intestazione"></header>
  	
  	<div class="parallax">	
	<div>
    	<h4>Lista delle opere</h4>
		<ul>
			<li th:each="opera : ${opere}">
				<a href="opera.html" 
				   th:href="@{'/opera' + '/' + ${opera.id}}" 
				   th:text="|${opera.titolo} ${opera.anno} ${opera.descrizione} ${opera?.autore?.nome} ${opera?.collezione?.nome}|">Paolo Rossi</a>
			</li>
		</ul>
	</div>
		</div>
	<div class="parallax">	</div>
</body>
</html>
