<meta name="robots" content="noindex">
<html xmlns:th="http://www.thymeleaf.org">
<head  th:replace="fragments/baseLista.html :: headerfiles(title=#{pageTitle.opereLista})"> </head>
<body>

<header th:replace="fragments/baseLista.html :: intestazione"></header>
  	
  	<div class="parallax">
  	
  	
	<div class="Titolo">Lista delle Opere</div>
	
	<div class="lista">
  		<ul>
  			<li class="dropdown1">
     			<a href="" class="dropbtn1">Ordine</a>
     				<div class="dropdown-content1">    
      					<a href="/ordineAlfabetico">Alfabetico</a>
      					<a href="/ordinePerAnno">Per anno</a>
      			</div>
      		</li>
      	</ul>
	</div>
    	<div class="ImgR">
    	<table class="lista">
			<tr th:each="opera : ${opere}">
				   <td> <a th:href="@{'/opera' + '/' + ${opera.id}}" th:text="${opera.titolo}"/></a></td>
				   <td> <p th:if="${opera.autore == null}">Anonimo</p>
				   <a  th:unless="${opera.autore == null}" th:href="@{'/opera.autore' + '/' + ${opera.autore.id}}" th:text="|${opera.autore.nome} ${opera.autore.cognome}|"></a></td> 
				   <td th:text="${opera.anno} "></td>
				   </tr>
		</table>
		</div>
	</div>
	<div class="parallax">	</div>
</body>
</html>
