<meta name="robots" content="noindex">
<html xmlns:th="http://www.thymeleaf.org">
<head  th:replace="fragments/baseElimina.html :: headerfiles(title=#{pageTitle.operaRimuovi})"> </head>
<body>
  
  <header th:replace="fragments/baseElimina.html :: intestazione"></header>
  <div class="parallax">	
	<div>
		<div class="Titolo">Seleziona l'opera da rimuovere</div>
	</div>
	<form th:action="@{/rimozioneOpera}" method="POST" th:object="${opera}">
		<div class="form">
			<span>Opera:</span>
			<select  name="operaSelezionata" id="autoUpdate" class="autoUpdate">
    		<option value="0">Seleziona un'opera</option>
    		<option th:each="opera : ${opere}"
    				th:value="${opera.id}" 
    				th:text="${opera.titolo}">
    		</option>
			</select>
			<div class="form">
			<span><button type="submit">Invio</button></span>
			</div>
		 </div>				
		</form>
			<div>
				
			</div>
		</div>
   <div class="parallax"></div>
</body>
</html>



